<table mat-table [dataSource]="reports">
  <ng-container matColumnDef="reportStatus">
    <th *matHeaderCellDef>Status zgłoszenia</th>
    <td *matCellDef="let element">{{element.reportStatus}}</td>
  </ng-container>

  <ng-container matColumnDef="address">
    <th *matHeaderCellDef>Adres</th>
    <td *matCellDef="let element">{{element.city + ', ' + element.street + ' ' + element.streetNumber}}</td>
  </ng-container>

  <ng-container matColumnDef="dateOfCreation">
    <th *matHeaderCellDef>Data i godzina</th>
    <td *matCellDef="let element">{{element.createdDateTime}}</td>
  </ng-container>

  <ng-container matColumnDef="description">
    <th *matHeaderCellDef>Opis</th>
    <td class="duration-cell"
         *matCellDef="let element">{{ element.description }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnHeaders"></tr>
  <tr mat-row *matRowDef="let row; columns: columnHeaders;"></tr>

<!--  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>-->

<!--  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>-->

</table>
