<div class="icon"><span class="letter">{{letter}}</span></div>
<div class="info">
    <div class="info-1">
        <div>Points</div>
        <div class="info__number">{{data.points}}</div>
    </div>
    <div class="info-2">
        <div>XXXXX</div>
        <div class="info__number">5</div>
    </div>
    <div class="info-3">
        <div>Emisja</div>
        <div class="info__number">6</div>
    </div>
</div>
<div class="details">
    <table>
        <tr>
            <td>Name</td>
            <td>{{data.username}}</td>
        </tr>
        <tr>
            <td>Email</td>
            <td>{{data.email}}</td>
        </tr>
    </table>
    <!-- <div>
        Name: {{data.username}}
    </div>
    <div>
        Email: {{data.email}}
    </div> -->
</div>